<section>
  <%= form_for @conn, Routes.page_path(@conn, :convert), fn f -> %>
  <label>
    From: <%= select f, :currency1, @valutes %>
  </label>

  <label>
    To  : <%= select f, :currency2, @valutes %>
  </label>

  <label>
    Value: <%= number_input f, :value%>
  </label>

  <label>
    <%= @result %> 
  </label>

  <%= submit "Submit" %>
<% end %>
</section>


